@import '../shared/typography.scss';
@import '../shared/variables.scss';
@import '../shared/mixins.scss';

.input {
  width: 100%;

  &__label {
  }

  &__main {
    padding: 8px 12px;
    font-family: $font;
    border-radius: 20px;
    border: 1px solid color(border-color);
    outline: none;
    min-width: 250px;
    width: 100%;

    &--secondary {
      background: lighten(color(border-color), 10);
    }
  }
}
