.weatherDataContent{
    width: 90%;
    height: 200px;
    display: flex;
    color: #e7791f;
    background-color: #ddd;
    margin: 0 auto;
    border-radius: 1rem;
    .weatherContent{
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &:last-child{
            flex-direction: column;
            text-align: left;
            
        }
    }
}
